body {
    height: 100%;
    background-color:#eee;
}

.moves {
    font-size: 19px;
    height: auto;
    padding: 0px 10px 0px 10px;
    text-align: center;
    vertical-align: super;
}

.toolbar {
    margin-top: 8px;
    margin-bottom: 8px;
}

@media (max-width: 1024px) {
    .vcenter {
	height: 590px;
	line-height: 590px;
//	background-color: #BBD8E9;
	text-align: center;
	vertical-align: middle;
    }
}
@media (max-width: 600px) {
    .vcenter {
	height: 31px;
	line-height: 31px;
//	background-color: #BBD8E9;
	text-align: center;
	vertical-align: middle;
    }
}

.center
{
    text-align: center; 
    margin:auto;
    width:85%;
    background-color:#eee;
}

#puzzle {
    background-color: white;
}
@media (max-width: 1024px) {
    .list-view {
	height: 546px;
	margin: auto;
	width: 75%;
	overflow-y: scroll;
	-webkit-overflow-scrolling: touch;
	position: relative;
    }
}
@media (max-width: 600px) {
    .list-view {
	height: 970px;
	margin: auto;
	width: 75%;
	overflow-y: scroll;
	-webkit-overflow-scrolling: touch;
	position: relative;
    }
}

.list-view .list-view-li {
    width: 100%;
    margin-left:0;
}
/*
::-webkit-scrollbar{width:4px;}
::-webkit-scrollbar-track{background-color:rgba(220,220,220,1);}
::-webkit-scrollbar-thumb{background-color:rgba(160,160,160,1);}
*/

